/data/*
!/data/processed/
/data/processed/*
!/data/processed/oof_predictions_handling_days.csv
!/data/processed/oof_predictions_transit_days.csv
.streamlit/secrets.toml
.env
.vscode
outputs
**/__pycache__/
**/.ipynb_checkpoints/
mlruns
*.db